.page-career {
    
    button {
        color: $color-black;
        background-color: $color-white;
        margin-top: 2rem;
        padding: 1rem 2rem;
        border-radius: 4.7rem;

        &:hover {
            transition: all 0.2s;
            
            &:hover {
                background-color: transparent;
                color: $color-white;
                border: 5px solid $color-white;
                transition: all 0.2s;
            }

        }
    }

    .blue {
        background-color: $color-secondary;
        transition: all 0.2s;

    }

    .career {
        width: 80%;
        margin: 0 auto;
        padding: 3rem;
        border-radius: 97px 97px 0 0;

        &--intro {
            h2 {
                text-align: center;
            }
            width: 50%;
            margin: 0 auto;
        }

        &--details {
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: 0 auto;
        }

        h2 {
            margin-top: 0;
        }

        h3 {
            margin-top: 5rem;
        }


        &--requirements &--majors {
            width: 40%;
        }

        .list {
            margin-left: 2rem;
            list-style-type: disc;
        }

        .video {
            padding: 2rem;
        }

    }
}