$color-primary: #CD5B9C;
$color-secondary: #388BBC;
$color-hyperlink: #567DAC;
$color-black: #141212;
$color-accent: #A867C7;
$color-white: #FCF6F5;

/* sub brand colors */
$color-science: #115EA7;
$color-tech: #2DC0CF;
$color-engineering: #65439A;
$color-math: #EB3590;
