

.hero {
    background:(linear-gradient(357.81deg, $color-black 10.18%, $color-primary 57.97%));
    padding-top: 6.9rem;
    padding-bottom: 11rem;
    transition: all 0.2s;

    h1 {
        width: 50%;
        margin: 0 auto;
    }

    p.subtitle {
        width: 40%;
        margin: 3rem auto;
    }
}

.stem-intro {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto 16rem;

    .stem--content {
        margin-top: 8rem;
        width: 40%;
        margin-left: 9rem;
    }

    .stem--decor {
        width: 40%;
    }

    .dot {
        position: relative;
        bottom: 10%;
        left: 40%;
        z-index: -1;
    }
}

.stem-categories {
    display: flex;
    justify-content: space-evenly;

    h3 {
        text-align: center;
    }

    &--science {
        background-color: $color-science;
        width: 25%;
        padding: 25rem 1rem;
    }

    &--tech {
        background-color: $color-tech;
        width: 25%;
        padding: 25rem 1rem;
    }

    &--engineering {
        background-color: $color-engineering;
        width: 25%;
        padding: 25rem 1rem;
    }

    &--math {
        background-color: $color-math;
        width: 25%;
        padding: 25rem 1rem;
    }
}

.quiz-cta {
    text-align: center;
    margin: 13.1rem auto 10.7rem;

    h2 {
        margin-bottom: 5rem;
    }

    a {
        button {
            background-color: $color-hyperlink;
        }

        button:hover {
            background: transparent;
            border: 5px solid $color-hyperlink;
            color: $color-hyperlink;
        }

    }


}

.resources {
    background: $color-accent;
    display: flex;
    justify-content: space-between;
    padding: 13.2rem 5rem 22rem;


    &--decor {
        width: 25%;

        .dot {
            position: relative;
            left: 0;

            &__blue {
                left: -50%;
                top: -10%;
                padding: 15rem;
            }

            &__pink {
                left: 0%;

            }
        }
    }

    &--content {
        width: 60%;

        h2 {
            width: 70%;
        }

        a {
            width: 30%;
            display: flex;
            justify-content: space-around;
            justify-items: baseline;
        }

    }


}

.mission {
    background: $color-primary;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 10rem;

    p {
        width: 70%;
        margin: 0 auto;
    }
}

