.hero {
	background: (linear-gradient(357.81deg, $color-black 10.18%, $color-primary 57.97%));
	padding-top: 6.9rem;
	padding-bottom: 11rem;

	@include breakpoint(lg, max) {
		padding-top: 3rem;
		padding-bottom: 15rem;
	}

	@include breakpoint(xxl) {
		padding-top: 8rem;
		padding-bottom: 20rem;
	}

	h1 {
		width: 50%;
		margin: 0 auto;

		@include breakpoint(lg, max) {
			width: 75%;
		}
	}

	p.subtitle {
		width: 40%;
		margin: 3rem auto;

		@include breakpoint(lg, max) {
			width: 68%;
		}
	}
}

.stem-intro {
	display: flex;
	justify-content: space-between;
	margin: 5rem auto 16rem;
	width: 80%;

	@include breakpoint(md, max) {
		flex-direction: column-reverse;
		width: 100%;
		align-items: center;
		margin-top: 0;
	}

	.stem--content {
		margin-top: 8rem;
		width: 40%;
		margin-left: 9rem;

		@include breakpoint(lg, max) {
			width: 50%;
			margin-left: 3rem;
		}

		@include breakpoint(md, max) {
			width: 80%;
			margin-left: 0;
		}
	}

	.stem--decor {
		width: 40%;
	}

	.dot {
		position: relative;
		bottom: 10%;
		left: -20%;
		z-index: -1;

		@include breakpoint(lg, max) {
			left: -50%;
		}

		@include breakpoint(md, max) {
			bottom: 70;
			left: -30%;
			padding: 8rem;
		}
	}
}

.stem-categories {
	display: flex;
	width: 100%;
	height: auto;

	@include breakpoint(lg, max) {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	h3 {
		text-align: center;
	}

	.column {
		padding: 25rem 1rem;
		width: 25%;

		@include breakpoint(lg, max) {
			padding: 5rem;
			width: 100%;
		}
	}

	.panel {
		display: none;
		overflow: hidden;
	}

	.expanded {
		display: block;
	}

	&--science {
		background-color: $color-science;
	}

	&--tech {
		background-color: $color-tech;
	}

	&--engineering {
		background-color: $color-engineering;
	}

	&--math {
		background-color: $color-math;
	}
}

.quiz-cta {
	text-align: center;
	margin: 20rem auto 20rem;

	h2 {
		margin-bottom: 5rem;
	}

	a {
		button {
			background-color: $color-hyperlink;
		}

		button:hover {
			background: transparent;
			border: 2px solid $color-hyperlink;
			color: $color-hyperlink;
		}
	}
}

.resources {
	background: $color-accent;
	padding: 8rem 2rem;

	&--decor {
		width: 15%;

		.dot {
			position: relative;
			left: -50%;

			&__blue {
				bottom: -435;
				padding: 17rem;
				z-index: 1;

				@include breakpoint(lg, max) {
					bottom: -310;
					padding: 15rem;
				}

				@include breakpoint(md, max) {
					bottom: -280;
					padding: 10rem;
				}

				@include breakpoint(sm, max) {
					bottom: -200;
				}
			}

			&__pink {
				left: -150%;
				z-index: 3;

				@include breakpoint(xl, max) {
					left: -250%;
				}

				@include breakpoint(lg, max) {
					left: -200%;
				}

				@include breakpoint(sm, max) {
					left: -150;
					padding: 8rem;
				}
			}
		}
	}

	&--content {
		display: flex;
		justify-content: space-between;
		width: 90%;
		padding-left: 5%;

		@include breakpoint(lg, max) {
			flex-direction: column;
			width: 100%;
			align-items: center;
		}

		.content--text {
			width: 57%;
			padding: 7rem 1rem 4rem;

			@include breakpoint(xl, max) {
				width: 50%;
			}

			@include breakpoint(lg, max) {
				width: 90%;
			}

			p {
				margin-bottom: 1rem;
			}

			a {
				width: 35%;
				display: flex;
				justify-content: space-between;
				justify-items: center;

				@include breakpoint(xl, max) {
					width: 45%;
				}

				@include breakpoint(lg, max) {
					width: 35%;
				}

				p {
					margin-bottom: 0;
				}
			}
		}

		.content--image {
			width: 40%;
			z-index: 2;

			@include breakpoint(xl, max) {
				padding-top: 5rem;
				width: 45%;
			}

			@include breakpoint(lg, max) {
				width: 60%;
				padding-top: 0rem;
			}

			img {
				width: 100%;
			}
		}
	}
}

.mission {
	background: $color-primary;
	text-align: center;
	padding-top: 8rem;
	padding-bottom: 10rem;

	p {
		width: 60%;
		margin: 0 auto;

		@include breakpoint(xl, max) {
			width: 65%;
		}
	}
}
